 body {
      font-family: Arial, sans-serif;
      background-color: #161b27;
      margin: 20px;
    }

    h2 {
      text-align: center;
      color: #0D51D9;
    }

    .graficos-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    #graficoUsuarios, #graficoTipo {
      background-color: #0f172a;
      border: none;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      padding: 10px;
    }

    #graficoUsuarios {
      width: 600px;
      height: 400px;
    }

    #graficoTipo {
      width: 400px;
      height: 400px;
    }
    canvas {
  background-color: transparent !important;
}