
body{
    background-color:#161b27;
   display: flex;
    align-items: center;
}

form p{
   background-image: linear-gradient(to right, #0D51D9, #1E91D9 );
  border-top-right-radius: 10px ;
   border-top-left-radius: 10px;
padding-left:20px ;
padding-top:10px ;
   font-size: 28px;
   color: white;
   width: 100%;
  margin-top: 0;
}


form{
  display: flex;
  flex-direction: column;
    margin-top: 120px;
    background-color:#1a1a2e ;
    border-radius: 10px;
    width: 400px;
    align-items: center;
    overflow: hidden; /* pra o título encaixar certinho */
  
}



form label{
  color:#1E91D9 ;
}

form input[type="text"]{
  border: none;
  border-bottom: 2px solid #1E91D9;
  background-color: #1a1a2e ;
 outline: none;
  color: white;
  margin-bottom: 40px;
}

  


form button{
    margin-top: 20px;
   padding: 10px;
    background-image: linear-gradient(to right, #0D51D9, #1E91D9 );
    margin-bottom: 20px;
    border-radius: 20px;
    border:none ;
    color: white;
    width: 150px;
    margin-bottom: 40px;
}

form button:hover{
     transition: 0.5s;
      transform:scale(1.1);
}



