body {
    font-family: Arial, sans-serif;
    background-color:#161b27;
    margin: 0;
    padding: 0;
}

.perfil-container {
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #1a1a2e;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden; /* garante que o cabeçalho siga a largura */
}

/* Cabeçalho */
.perfil-container h1 {
    
    margin: 0; /* remove espaçamento padrão */
    padding: 15px 0;
    padding-left: 10px;
    color: white;
    background-image: linear-gradient(to right, #0D51D9, #1E91D9);
    font-size: 28px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

/* Formulário */
.perfil-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px; /* dá um respiro interno */
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 15px;
    color: #1E91D9;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="file"] {
    padding: 8px 10px;
    border-radius: 5px;
   border: none;
    font-size: 14px;
    outline: none;
}

.form-group small {
    color: #777;
    font-size: 12px;
}

/* Botão centralizado */
.btn-atualizar {
    padding: 10px 20px;
    background-image: linear-gradient(to right, #0D51D9, #1E91D9);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 200px;
    margin: 20px auto 30px; /* auto centraliza horizontalmente */
    display: block; /* garante centralização */
}

.btn-atualizar:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

/* imagem do perfil */
.form-group img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: solid 3px #0D51D9;
    margin: 20px auto 30px; /* auto centraliza horizontalmente */
    display: block; /* garante centralização */
    margin-top: 5px;
    margin-bottom: 10px;
}